.movie {
    img {
        width: 100%;
        height: auto;
        display: block;
    }

    h3 {
        margin-top: 0.5em;
    }
}

.gallery-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 1em;
}